body {
    background-color: #112031;
}

#container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 1px solid #082032;
    height: 500px;
    width: 500px;
    background-color: black;
    
}

#container div{
    border: none;
   
    box-sizing: border-box;
    background-color: white;
}

#ui {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: auto;
    margin-bottom: auto;
}

button {
    margin-top: 20px;
    background-color: #152D35;
    padding: 15px 35px;
    color: #D4ECDD;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #152D35;
    cursor: pointer;
    border-radius: 5px;
}

#button-div {
    margin-right: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 10px;
    box-shadow: yellow;
    background-color: #345B63;
}

#color-picker {
    margin-top: 20px;
    width: auto;
    height: 50px;
}

h1 {
    text-align: center;
    font-weight: 900;

    color: #D4ECDD
}

#grid-number {
    text-align: center;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: #152D35;
    color: white;
    border: 1px solid #152D35;
    border-radius: 5px;
}

